.all__page {
	display: flex;
	justify-content: center;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 400px;

	gap: 32px;
	padding: 24px;

	margin: 5px 5px;

	background-color: #f5eded;
	border-radius: 20px;
}  

.page__2 {
	display: flex;
	flex-direction: column;
	width: 400px;

	gap: 32px;
	padding: 24px;

	margin: 5px 5px;

	background-color: #f5eded;
	border-radius: 20px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.button {
	transition: opacity 0.7s;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

.title {
	font-size: 24px;
	font-weight: bold;
	color: #121212;
}

.post__list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.post {
	display: flex;
	flex-direction: column;

	gap: 16px; 
	padding: 12px;
	border-radius: 10px;
	background-color: #f7f7f7;
	border: 1px solid #f7f7f7;

	&--viewed {
		background-color: transparent;
		border-color: #070606;

		.post__info {
			color: #888888;
		}
	}
}

.post__header {
	display: flex;
	justify-content: space-between;
}

.post_category-list {
	display: flex;
	gap: 8px;
}

.post__date {
	color: #888888;
	font-size: 14px;
}

.post__info {
	font-size: 16px;
	line-height: 1.4em;
	color: #121212;
}

.post__category {
	padding: 8px 12px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 50px;

	&--1 {
		color: #ff6600;
		background-color: #fdb687;
	} 

	&--2 {
		color: #ef5fa8;
		background-color: #ffb3dad1;
	}
}

//=============================================


.change {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.change__ch {
	display: flex;
	flex-direction: column;
	justify-items: center;
	padding: 5px;
	
	
	&:hover {
		cursor: pointer;
	}

	&--viewed {
		font-size: 20px;
		color: gray;
	}
	
} 
.change__under {
	font-size: 20px;
	color: gray;
}

.change__text {
	font-size: 20px;
	color: black;
	font-weight: bold;
} 


.info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.info__img {
	
}

.button__link-tg {
	display: flex;
	justify-content: center;
	padding: 10px;
	border-radius: 10px;
	background-color: #F46F17;
	color: #fff;
}