{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


<div class="page">
    <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/header__back.svg">
        </button>
        <button class="button">
            <img width="24px" height="24px" src="/img/header__avatar.png">
        </button>
    </header>

    <div class="nav-tabs">
        <div class="table__title">
            <a class="table__title table__title-disable">База знань</a>
        </div>
        <div class="table__title">
            <a class=" table__title table__title-active">Інформація</a>
        </div>
    </div>

    <main class="post__list">
        <img src="/img/image 1.png">

        <h1 class="title">Що таке база знань?</h1>

        <p class="post__info">База знань - база даних, що містить правила виведення та інформацію про людський
            досвід і знання в деякій предметній галузі. У системах, що самонавчаються, база знань також містить
            інформацію, що є результатом вирішення попередніх завдань.
        </p>

        <button class="button button__link-tg">Перейти до ком'юніті у Телеграм</button>

    </main>
</div>



{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}